:root {
    --primaria: #218EE1;
    --primaria-escura: rgb(194, 192, 191);
}

html {
    scroll-behavior: smooth;
}

.layout{
    display: flex;
    flex-direction: column;
}
header#geral {
    background-color: var(--primaria);
    min-height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header#geral h1 {
    font-size: 3rem;
    font-weight: normal;
}
header#geral ul{
    margin: 1rem;
    padding: 0;
    text-align: center;
}
header#geral li{
    list-style: none;
    display: inline-block;
    margin-bottom: 12px;
}
header#geral ul li a {
    width: 140px;
    margin-left: 10px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 0.2px solid rgb(65, 68, 241);
    box-shadow: 0 0 5px #180d7e;

    
    border-radius: 4px;
    text-decoration: none;
    color: rgb(53, 48, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header#geral ul li a:hover{
    background-color: var(--primaria-escura)
}
.logo{
    margin-right: 50px;
    height: 100px;
    background-color: var(--primaria);
}
.layout2{
    color:rgb(54, 54, 54);
    padding: 0px 10px;
    font-size: 40px;
    padding-top: 70px;   
}
.noticias-header {
    display: flex;
    align-items: center;
    font-family: serif;
    color: rgb(51, 50, 50);

    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 2.5rem;
    margin-right: 10%;
    height:70px;
    background-color: rgb(146, 146, 146);
}
.noticias-header h3 {
    margin: 0;
    font-weight: normal;
}
.noticias-header#clima {
    background-color: rgb(255, 217, 0);
}
.noticias-header#saude {
    background-color: rgb(190, 2, 2);
}
.noticias-header#esporte {
    background-color: rgb(12, 85, 2);
}
.noticias-header#entretenimento {
    background-color: rgb(117, 70, 247);
}
 
/* GRID */
.noticias {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding-top: 50px;
    margin: auto;
    overflow: hidden;
}
.area-text p{
    float:left;
    max-width:500px;
    margin-left:10px;

}
.noticias article {
    display:flex;
    
}

.noticias article img {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}
article h1{
    font-family: serif;
    font-size: 1.3rem;
    color:rgb(34, 33, 33);
    margin:0 10px;
}
article h4 {
    font-family: serif;
    margin:10px;
    font-weight: normal; 
    color:rgb(34, 33, 33);
}
article.destaque h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

footer p{
    color:black;
}

@media screen and (max-width: 900px) {
    .noticias article img {
        max-width: 175px;
        max-height: 175px;
    }
    article h1 {
        font-size: 1rem;
        line-height: 1rem;
    }
    article.destaque h1 {
        font-size: 1.75rem;
        line-height: 1.75rem;
    }
}

@media screen and (max-width: 650px) {
    .noticias {
        grid-template-columns: 1fr;
    }
}
